.footersection{
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  background: #082838;
  position: relative;
  margin-top: 4rem;
}
.footersection p{
  color: #fff;
}
.footersection li a{
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}

.footersection h3{
  text-transform: uppercase;
  color: #fff;
  margin-bottom:25px ;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#myBtn{
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 4;
  border: none;
  color: #fff;
  background: #00abff;
  padding: 10px;
  border-radius: 10px;

}
#myBtn:hover{
  background: #606060;
}

a{
  text-decoration: none ;
}
li{
  list-style: none;
}

/* .newsletter{
  width: 100%;
  height: auto;
  margin: 80px auto;
} */
.news-input{
  border-radius: 100px 0px 0px 100px !important;
  min-width: 150px;
  min-height: 45px;
}

.input-group-text{
  color: #fff !important;
  background: #5b9ade !important;
  border-radius: 0 100px 100px 0 !important;
  min-width: 130px;
  min-height: 45px;
}
.input-group-text:hover{
  background:  #5ed1c0  !important;
}
