
   body{
    padding: 0px;
    margin: 0px;  
    font-family: sans-serif;
  
   }   


 /* .container{
      width: 90%;
      margin: auto;
      overflow: hidden;
    } */
    /* contact form css */


    .contact-sectionj{
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9));
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100% ;
      padding-bottom: 2%;
      display: flex;
      justify-content: center;
      justify-content: center;
      z-index: 9999999999999999999999999999999;
      position: fixed ;
      /* position: absolute; */
      top: 0;
      /* bottom: 0; */
      /* right: 0; */
      /* left: 0; */
    }

    .contact-sectionj .containerj{
        background: linear-gradient(rgba(94, 78, 78, 0.809),rgba(202, 153, 153, 0.83)),url(../images/contact.jpg);
        background-size: cover;
        background-position: center;
        height: 85%;
        width: 100% ;
        padding-bottom: 2%;
        justify-self: center;
        align-self: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
      }

    .contact-sectionj .containerj h2{
      text-align: center;
       text-decoration: underline;
        /* text-decoration-color:red; */
        text-underline-position: under;
        color: hsl(205, 86%, 17%);
        letter-spacing: 2px;
        
    }

    

    .contact-sectionj .containerj p{
      text-align: center; 
      width: 70%; 
      margin-left: auto;
       margin-right: auto; 
       margin-bottom: 1rem;
       color:#fff;
       letter-spacing:3px;
       font-weight: 500 !important;
       
    }

    .contact-formj i.fa,
    .contact-formj i.fab
    {
      /* color: red; */
      /* color: #fff; */
    
      font-size: 20px; 
      padding: 2%;
      background-color: none;
      border-radius: 50% !important;
      margin: 0rem 1rem;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:1px solid rgb(190, 190, 190);
      color: hsl(205, 66%, 49%);
      font-weight: bold !important;
      /* font-size: 20px !; */
    }
    
    .contact-formj i.fa:hover,
    .contact-formj i.fab:hover{
      cursor: pointer;
      border:2px solid hsl(360, 71%, 66%);
      color: hsl(360, 71%, 66%);
    }
     
      .contact-formj{
        display: grid;
        grid-template-columns: auto auto;
         }
      
         .form-infoj{
            font-size: 16px;
            font-weight: 600;
            font-style: italic;
            color: hsl(206, 71%, 8%) !important;
            letter-spacing: 2px;
          }

          .breake{
              margin: 1rem 0;
              width: 100%;
              display: flex;
              flex-direction: row;
              box-shadow: 0 -4px 8px rgba(0,0,0,0.30), 0 3px 2px rgba(0,0,0,0.22);
              transition: 0.3 all ease;
              height: 48px;
          }

     
      .breake:hover{
          transform: translateY(-3px);
      }

      .closebut{
          position: absolute;
          top: 3%;
          right: 5%;
          font-size: 20px;
      }

      .closebut:hover{
          color: red;
      }
    


        /* media queries */
    @media (max-width: 768px){

      #contact-section .submit{

        width: 60%;
      }

  }